body {
    text-align: center;
    font-family: 'Poor Story', system-ui;
    background-color: #ffa9d3; /* Light pink background */
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

#content {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#timer {
    font-size: 4em;
    margin: 20px;
    font-weight: 900;
}
#initial-message{
    margin-top: 20px;
    font-size: 2em;
    font-weight: 700;

}
.hidden {
    display: none;
}

#self-exam-image img {
    max-width: 100%;
    height: auto;
    border: 2px dashed #ccc;
    margin-top: 20px;
}

#end-message a {
    display: block;
    margin-top: 10px;
    color: #d63384;
    text-decoration: none;
}

#end-message a:hover {
    text-decoration: underline;
}

#retry-message {
    color: red;
    font-size: 2em;
    display: none;
    margin-top: 20px;
}

.timer-red {
    color: red;
}

.link-button {
    color: blue;
    font-weight: 600;
    font-size: 2em;
    text-decoration-line: underline;
    
}

button {
    font-size: 2em;
    font-weight: 600;
}